/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Logo Section */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  height: 40px;
  width: auto;
}

.nav-logo p {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;

}

.nav-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 4px;
  color: #333;
  transition: color 0.3s;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(233, 40, 40);
}




.nav-menu li:hover {
  color: #000000;
}

/* Login & Cart */
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-login-cart button {
  width: 137px;
  height: 48px;
  background-color: white;
  border: 1px solid gray;
  color: #333333; /* Keep this one if you want dark text */
  border-radius: 75px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-login-cart button:hover {
  background-color: #f0f0f0;
}
.nav-login-cart button:active{
    background: #e1e0e0;
}


.nav-login-cart img {
  height: 28px;
  width: auto;
  cursor: pointer;
}
.nav-cart-count{
width: 22px;
height: 22px;
display: flex;
justify-content: center;
align-items: center;
margin-top: -35px;
margin-left: -55px;
border-radius: 11px;
font-size: 14px;
background: red;
color: #f0f0f0;
}