.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icons {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

/* Tablet */
@media (max-width: 800px) {
    .footer {
        gap: 20px;
    }

    .footer-logo {
        gap: 10px;
        align-items: end;
    }

    .footer-logo img {
        width: 40px;
    }

    .footer-logo p {
        font-size: 25px;
    }

    .footer-links {
        font-size: 14px;
        gap: 10px;
    }

    .footer-social-icons img {
        width: 22px;
    }

    .footer-copyright {
        font-size: 13px;
    }
}

/* Small Mobile (360px and below) */
@media (max-width: 360px) {
    .footer-logo {
        flex-direction: column;
        gap: 6px;
        align-items: center;
        text-align: center;
    }

    .footer-logo p {
        font-size: 20px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        font-size: 13px;
    }

    .footer-social-icons {
        gap: 12px;
    }

    .footer-social-icons img {
        width: 20px;
    }

    .footer-icons-container {
        padding: 8px;
    }

    .footer-copyright {
        font-size: 12px;
        gap: 20px;
        padding: 0 10px;
    }

    .footer-copyright hr {
        width: 90%;
        height: 2px;
    }
}
